* {
    box-sizing: content-box;
    background: rgb(239, 212, 168);
}
.container {
    display: flex;
    justify-content: center;
}

.points-block{ 
    color: rgb(71, 71, 218);
}

.points-block:active > .points__row > .point__name{ 
    color: rgb(71, 71, 218) !important;
}

.point__name {
    border-bottom: 0.1em solid  #858585;
}

.points-block {
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.icon__plus{
    width: 1.2em;
    height: 1.2em;
    display: none;
}

.menu:hover > .points-block > .points__row > .point__icon > .icon__plus {
    display: block;
}



/* .menu:hover > .points-block > .points__row > .icon__plus {
    display: block;
} */

.menu:hover > .points-block > .points__row > .point__name {
    color:black;
}

.img__bayan {
    width: 0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.points__row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.points-block:hover > .img__bayan{
    animation-name: image-change;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    
}

.points-block:hover > .points__row > .point__icon > .icon__plus{
    transform: rotate(45deg);
}


@keyframes image-change{
    100%{
        width: 20em;
    }
}

.point__name{
    font-size: 1.8em;
}

input:checked ~ .img__bayan{
    width: 20em;
}

input:checked + .points__row > .point__name{
    color: black;
}



input{
    opacity: 0;
}
